<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>BarCamp Omaha: 2017</title>

    <meta name="author" content="Sumeet Jain, AIGA Nebraska">
    <meta name="description" content="BarCamp Omaha is a user generated conference where the speakers are everyday folks, talking about what makes them excited.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/tachyons.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <script src="https://use.typekit.net/qax2pvs.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    
  </head>

  <body>

    <a href="#" class="js-show-nav absolute top-0 right-0 z-max bg-white ph2 pv1 dn-ns">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="26" fill="#1e122b">
      <path d="M4,10h24c1.1,0,2-0.9,2-2s-0.9-2-2-2H4C2.9,6,2,6.9,2,8S2.9,10,4,10z M28,14H4c-1.1,0-2,0.9-2,2s0.9,2,2,2h24
        c1.1,0,2-0.9,2-2S29.1,14,28,14z M28,22H4c-1.1,0-2,0.9-2,2s0.9,2,2,2h24c1.1,0,2-0.9,2-2S29.1,22,28,22z"/>
      </svg>
    </a>

    <header class="section bg-white tc js-header hidden-header">

      <nav>
        <ul class="pa0 mh0 mt0 mb3 mb1-ns mt1-ns ttu fw4 flex-ns justify-center-ns list f6">
          <li class="ph3-ns"><a class="no-underline pv2 db js-scroll-to" href="#about">About</a></li>
          <li class="ph3-ns"><a class="no-underline pv2 db js-scroll-to" href="#schedule">Schedule</a></li>
          <li class="ph3-ns"><a class="no-underline pv2 db js-scroll-to" href="#questions">FAQs</a></li>
          <li class="ph3-ns"><a class="no-underline pv2 db js-scroll-to" href="#sponsors">Sponsors</a></li>
          <li class="ph3-ns">
            <a class="bg-center bg-graphic-purple contain hover-white no-underline white pt2 pb1 ph4-ns db" href="https://www.eventbrite.com/e/barcamp-tickets-35241640696">Register</a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="js-hero" class="relative bg-purple overflow-hidden">
      <img class="db w-100" src="images/hero/diagonal-texture.png" alt="">

      <h1 class="absolute ma0 pa0 z-max barcamp-logo transition js-initial">
        <img src="images/hero/logo-barcamp.png" class="grow" alt="Barcamp Omaha, 2017. August 26">
      </h1>

      <a class="contain bg-center absolute hide-text bg-graphic-logo-aigane" href="" class="aigaNE">AIGA Nebraska</a>

      <div class="quadrant-1 absolute w-50 h-50 top-0 left-0">
        <div class="relative h-100">
          <img class="bg-hand-top js-initial transition absolute left-0 w-75 z-3"   src="images/hero/hand-top.png" alt="">
          <img class="bg-leaves-top js-initial transition absolute z-4 w-100"       src="images/hero/leaves-top.png" alt="">
          <img data-parallaxify-range="3" class="bg-planet js-initial transition absolute w-40 z-2"            src="images/hero/planet.png" alt="">
          <img data-parallaxify-range="4" class="bg-planet-stars js-initial transition absolute w-40 z-2"      src="images/hero/planet-stars.png" alt="">
          <img class="bg-blob-top js-initial transition absolute z-1 mw-none w-120" src="images/hero/blob-top.png" alt="">
        </div>
      </div>

      <div class="quadrant-2 absolute w-50 h-50 top-0 right-0">
        <div class="relative h-100">
          <img data-parallaxify-range="-5" class="bg-hand-right js-initial transition absolute w-90 z-3"           src="images/hero/hand-right.png" alt="">
          <img class="bg-diamond-top js-initial transition absolute w-20"              src="images/hero/diamond-top.png" alt="">
          <img class="bg-ripple-right js-initial transition absolute w-25 right-0 z-2" src="images/hero/ripple-right.png" alt="">
          <img class="bg-blob-right js-initial transition absolute w-20 right-0 z-1"   src="images/hero/blob-right.png" alt="">
        </div>
      </div>

      <div class="quadrant-3 absolute w-50 h-50 bottom-0 left-0">
        <div class="relative h-100">
          <img class="bg-hand-bottom js-initial transition absolute bottom-0 w-65 z-5"        src="images/hero/hand-bottom.png" alt="">
          <img class="bg-hand-stars js-initial transition absolute w-18 z-4"                  src="images/hero/hand-stars.png" alt="">
          <img class="bg-ripple-left js-initial transition absolute w-50 z-2"                 src="images/hero/ripple-left.png" alt="">
          <img data-parallaxify-range="-5" class="bg-diamond-bottom js-initial transition absolute w-15 z-2"              src="images/hero/diamond-bottom.png" alt="">
          <img class="bg-switch js-initial transition absolute w-30 z-2"                      src="images/hero/switch.png" alt="">
          <img class="bg-blob-bottom js-initial transition absolute w-20 bottom-0 z-1"        src="images/hero/blob-bottom.png" alt="">
          <img class="bg-leaves-left js-initial transition absolute bottom-0 left-0 w-30 z-2" src="images/hero/leaves-left.png" alt="">
        </div>
      </div>

      <div class="quadrant-4 absolute w-50 h-50 bottom-0 right-0">
        <div class="relative h-100">
          <img class="bg-leaves-right js-initial transition absolute right-0 w-60 z-3" src="images/hero/leaves-right.png" alt="">
          <img class="bg-phone js-initial transition absolute w-22 z-2"                src="images/hero/phone.png" alt="">
          <img data-parallaxify-range="8" class="bg-arrow js-initial transition absolute w-6"                     src="images/hero/arrow.png" alt="">
          <img class="bg-blob-under-phone js-initial transition absolute w-40 z-1"     src="images/hero/blob-under-phone.png" alt="">
        </div>
      </div>
    </section>

    <section class="pa3 pa4-ns pa5-l bg-light-purple white" id="about">
      <div class="container-ns flex-ns items-center-ns">

        <img class="progressive__img progressive--not-loaded center db mt3 mb4 w-50 w-40-ns w-40-l mr4-ns" data-progressive="images/stay-curious.png" src="images/_prog-stay-curious.gif">

        <div>
          <h2 class="f2 fw4">A bit of curiosity goes a long way.</h2>
          <p>Heck it might even take you on stage at BarCamp. BarCamp Omaha is a user generated conference where the speakers are everyday folks talking about what interests them. Talks aren’t scheduled or planned until just before the conference starts, and anyone can give a talk. Curious, but don’t want to take the stage? That’s okay too.</p>
          <p>At BarCamp, you won’t find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and share what awakens your curiosity. Come one, come all.</p>
        </div>
      </div>
    </section>

    <section class="pa3 pa4-ns pa5-l bg-purple white">
      <div class="container-ns">
        <div class="tc mb4">
          <h2 class="f1 fw4 ttu mb3">Our Tracks</h2>
          <div class="f3">Pick from the tracks below to give your talk. All topics are welcome!</div>
        </div>

        <ul class="cf list ma0 pa0">
          <li class="fl-ns w-50-ns ph4-ns w-25-l mb4">
            <img class="progressive__img progressive--not-loaded w5" data-progressive="images/tracks-entrepreneur.png" src="images/_prog-tracks-entrepreneur.gif">

            <h3 class="f3 ttu b mb1">Entrepreneur</h3>
            <p class="mt0 mb4">Churn, MRR, fundraising, or even the lemonade stand you ran when you were a kid are all fair game. This is a great place to talk about ways to build epic things and/or getting dat paper.</p>
          </li>

          <li class="fl-ns w-50-ns ph4-ns w-25-l mb4">
            <img class="progressive__img progressive--not-loaded w5" data-progressive="images/tracks-creative.png" src="images/_prog-tracks-creative.gif">

            <h3 class="f3 ttu b mb1">Creative</h3>
            <p class="mt0 mb4">Designing letterpress invitations, photo blogging your world travels or rebranding a product? This is the track for you to share your creative accomplishments and valuable lessons.</p>
          </li>

          <li class="fl-ns w-50-ns ph4-ns w-25-l mb4">
            <img class="progressive__img progressive--not-loaded w5" data-progressive="images/tracks-technology.png" src="images/_prog-tracks-technology.gif">

            <h3 class="f3 ttu b mb1">Technology</h3>
            <p class="mt0 mb4">Building React apps in your free time? Designed an ETL pipeline? Hacked together a Raspberry Pi temperature sensor? Come talk about the hardware and software that you get excited about.</p>
          </li>

          <li class="fl-ns w-50-ns ph4-ns w-25-l mb4">
            <img class="progressive__img progressive--not-loaded w5" data-progressive="images/tracks-kitchen-sink.png" src="images/_prog-tracks-kitchen-sink.gif">

            <h3 class="f3 ttu b mb1">Kitchen Sink</h3>
            <p class="mt0 mb4">Psst. I hear you made some moonshine. This track is for all those passions that don't quite fit the mold. Mastering juggling, urban planning in your free time and organizing your closet are all welcome topics here!</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="flex justify-center-ns pa3 pt3-ns pb0-ns ph0-ns bg-pink purple relative overflow-hidden" id="schedule">

      <div class="progressive__bg progressive--not-loaded w-20-ns w-30-l cover bg-top-right bg-schedule" data-progressive="images/schedule-plants.png"></div>

      <div class="progressive__bg progressive--not-loaded w-20-ns w-30-l cover bg-top-right bg-schedule mirror-portrait order-last" data-progressive="images/schedule-plants.png"></div>

      <div class="w-60-ns w-40-l pv5-ns ph4-ns">
        <h2 class="tc f1 ttu">The Schedule</h2>

        <h3 class="f3 ttu b mb1">Friday August 25</h3>
  
        <h4 class="f4 red b mt0 mb1">
          <span class="ttu">7PM | Opening Party </span> at
          <span class="light-purple">
            <a class="light-purple hover-purple" href="https://drafthouse.com/omaha">Alamo Drafthouse</a>!
          </span>
        </h4>
  
        <p class="mt0 mb4">Get excited about BarCamp the night before at our opening party! Buying a BarCamp ticket also entitles you to a free drink ticket. Not to mention, the fantastic <a class="light-purple hover-purple" href="http://www.justinlimoges.com">Justin Limoges</a> is bringing his sweet photo booth!</p>
  
        <h3 class="f3 ttu b mb1">Saturday August 26</h3>
  
        <h4 class="f4 ttu red b mt0 mb1">8AM | Coffee / Sign Up</h4>
        <p class="mt0 mb4">Grab some snacks and coffee, sign up for a talk, and start the day getting to know your fellow BarCampers.</p>
  
        <h4 class="f4 ttu red b mt0 mb1">9AM | Morning Talks Begin</h4>
        <p class="mt0 mb4">We'll start out the first round of talks promptly at 9am, so make sure you're all settled in and ready to learn!</p>
  
        <h4 class="f4 ttu red b mt0 mb1">12PM | Lunch &amp; Networking</h4>
        <p class="mt0 mb4">Hang out with your new BarCamp friends and enjoy a delicious lunch.</p>
  
        <h4 class="f4 ttu red b mt0 mb1">1PM | Afternoon Talks Begin</h4>
        <p class="mt0 mb4">At 1 PM, we'll reconvene for our afternoon session of talks!</p>
  
        <h4 class="f4 ttu red b mt0 mb1">5PM | Closing</h4>
        <p class="mt0 mb4">Say your goodbyes, collect addresses for your new pen pals, and start looking forward to next year. Don't forget to pick up your free t-shirt (sponsored by <a class="light-purple hover-purple" href="http://agapered.com">Agape Red</a>) and other BarCamp memorabilia from the merch table!</p>
      </div>
    </section>

    <section class="pa3 pa5-l bg-purple purple overflow-hidden overflow-visible-l relative-ns" id="questions">

      <div class="relative container-ns flex-ns flex-wrap-ns question-bottom-padding js-questions">
        <img class="progressive__img progressive--not-loaded absolute bg-girl-laying w-34 dn db-l" data-progressive="images/questions/girl-laying.png" src="images/questions/_prog-girl-laying.gif">

        <img class="absolute bg-girl-stars w-37 dn db-l" src="images/questions/girl-stars.png" data-parallaxify-range="-4" alt="">

        <img class="absolute bg-floating-pages w-20 dn db-l" src="images/questions/floating-pages.png" data-parallaxify-range="6" alt="">

        <img class="absolute bg-moon w-6 dn db-l" src="images/questions/moon.png" data-parallaxify-range="-6" alt="">

        <img class="absolute bg-moon-stars w-6 dn db-l" src="images/questions/moon-stars.png" data-parallaxify-range="4" alt="">

        <img class="progressive__img progressive--not-loaded absolute bg-questions-ripple w-25 dn db-l" data-progressive="images/questions/ripple.png" src="images/questions/_prog-ripple.gif" data-parallaxify-range="-6">

        <img class="absolute bg-questions-diamond w-5 dn db-l" src="images/questions/diamond.png" data-parallaxify-range="4" alt="">

        <div class="question-size ml-50-l mt4-l">
          <h2 class="white tc">
            <div class="f3 fw3">Frequently Asked</div>
            <div class="f1 ttu">Questions</div>
          </h2>

          <div class="relative ma4 ma0-ns ma0-l right--2 png-shadow">
            <img class="progressive__img progressive--not-loaded" data-progressive="images/questions/page-1.png" src="images/questions/_prog-page-1.gif">

            <div class="absolute top-0 left-0 pa-10">
              <p class="b mt0 mb1">What am I paying $20 for?</p>
              <ul class="pl3 mt0">
                <li>Opening Party / Drink Ticket</li>
                <li>Breakfast</li>
                <li>Soda &amp; Snacks</li>
                <li>Lunch</li>
                <li>BarCamp T-shirt</li>
                <li>Good Times / New Friends (which is sorta priceless…)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="relative question-size ma4 ma0-ns ma0-l nt6-l left--2 top-2-l left--1-l png-shadow">
          <img class="progressive__img progressive--not-loaded " data-progressive="images/questions/page-2.png" src="images/questions/_prog-page-2.gif">

          <div class="absolute top-0 left-0 pa-10">
            <p class="b mt0 mb1">How long are the talks?</p>
            <p class="mv0">Each time slot is 25 minutes. Speakers are allowed to use that time however they wish. You could even share one 25-minute time slot with multiple people or set up a panel discussion. It’s probably a good idea to allow time for comments and questions because BarCamp audiences tend to be very participatory!</p>
          </div>
        </div>

        <div class="relative question-size ma4 ma0-ns ma0-l nt6-l right--2 right-0-l top-2-l png-shadow">
          <img class="progressive__img progressive--not-loaded " data-progressive="images/questions/page-3.png" src="images/questions/_prog-page-3.gif">

          <div class="absolute top-0 left-0 pa-10">
            <p class="b mt0 mb1">Can I give a sales presentation?</p>
            <p class="mv0">No. To be respectful of our BarCamp attendees, sales presentations or all-out sales pitches are not allowed. Don’t even try it, folks.</p>
          </div>
        </div>

        <div class="relative question-size ma4 ma0-ns ma0-l nt6-l left--2 left-0-l png-shadow">
          <img class="progressive__img progressive--not-loaded " data-progressive="images/questions/page-4.png" src="images/questions/_prog-page-4.gif">re>

          <div class="absolute top-0 left-0 pa-10">
            <p class="b mt0 mb1">Do I have to give a talk?</p>
            <p class="mv0">Absolutely not! Many people come to BarCamp just to meet new people and listen to other folks give cool presentations, and that’s great! We encourage people to participate however they are most comfortable. That’s the beauty of the “un-conference.” You can pretty much do whatever you want.</p>
          </div>
        </div>

        <div class="relative question-size ma4 ma0-ns ma0-l nt6-l right--2 right-0-l left-2-l top-2-l png-shadow">
          <img class="progressive__img progressive--not-loaded " data-progressive="images/questions/page-5.png" src="images/questions/_prog-page-5.gif">

          <div class="absolute top-0 left-0 pa-10">
            <p class="b mt0 mb1">When do I get my BarCamp t-shirt?</p>
            <p class="mv0">Tees are sponsored by Agape Red and will be available on the day of BarCamp at the merch table.</p>
            <p class="mv0 i">Note: Due to the nature of having tees available on the day of the event, we cannot guarantee your indicated size from registration will be available, so pick up your shirt early in the morning!</p>
          </div>
        </div>

        <div class="relative question-size ma4 ma0-ns ma0-l nt6-l left--2 left-2-l top--2-l png-shadow">
          <img class="progressive__img progressive--not-loaded " data-progressive="images/questions/page-6.png" src="images/questions/_prog-page-6.gif">

          <div class="absolute top-0 left-0 pa-10">
            <p class="b mt0 mb1">What should I bring?</p>
            <p class="mv0">Your notebook and a pen for taking notes and collecting autographs.</p>
            <p class="mv0">Something to share with all of your new friends…a business card perhaps? A clean pair of underpants (just in case!) A friend…if your friend fits in your fanny pack.</p>
          </div>
        </div>

        <div class="relative question-size ma4 ma0-ns ma0-l nt6-l right--2 right-0-l left-2-l top-2-l png-shadow">
          <img class="progressive__img progressive--not-loaded " data-progressive="images/questions/page-8.png" src="images/questions/_prog-page-8.gif">

          <div class="absolute top-0 left-0 pa-10" style="padding-top: 12%; padding-left: 15%;">
            <p class="b mt0 mb1">Is my ticket transferrable?</p>
            <p class="mv0">If you’re unable to attend BarCamp after purchasing your ticket, contact <a href="mailto:finance@nebraska.aiga.org">finance@nebraska.aiga.org</a> to transfer or refund your ticket. Ability to do so expires after July 31, 2017.</p>
          </div>
        </div>
      </div>

      <div class="question-size question-hand-offset absolute-ns bottom--1-ns right-3-ns right-0-l">
        <div class="relative ma4 ma0-ns nt6-l left--2 left-0-l top--2-l png-shadow">
          <img class="progressive__img progressive--not-loaded w-100" data-progressive="images/questions/page-7.png" src="images/questions/_prog-page-7.gif">

          <div class="absolute top-0 left-0 pa-10">
            <p class="b mt0 mb1">I have a food allergy, do I have to bring my own lunchbox?</p>
            <p class="mv0">Don’t worry about it! We want to make sure that everyone is included at lunch. If you have any allergies or dietary restrictions just send a message to <a href="mailto:barcampcochair@nebraska.aiga.org">barcampcochair@nebraska.aiga.org</a> and we’ll make sure that you are taken care of.</p>
          </div>

          <img class="progressive__img progressive--not-loaded absolute mw-none-l question-hand-position w-100" data-progressive="images/questions/hand.png" src="images/questions/_prog-hand.gif">
        </div>
      </div>
    </section>

    <section class="sponsors pa3 pa4-ns pa5-l pb5 pb5-ns pb5-l bg-blue white tc" id="sponsors">
      <div class="container-ns">
        <h2 class="f1 ttu">Sponsors</h2>

        <ol class="list ma0 ph5 f3">
          <% sponsors.forEach(function(group){ %>

            <li class="fw4 ttu">
              <%= group.title %>

              <ul class="list mv3 mh0 pa0 flex-ns flex-wrap-ns justify-center-ns items-center-ns">
                <% group.sponsors.forEach(function(sponsor){ %>
                  <li class="mb4 <%= group.widthClass %> ph3-ns ph4-l">
                    <img src="images/sponsors/<%= group.path %>/<%= sponsor %>" alt="<%= sponsor %>">
                  </li>  
                <% }); %>
              </ul>
            </li>
          <% }); %>
          
        </ol>

        <p class="purple f3 relative z-3">
          If you’re interested in being a sponsor please contact <a class="hover-white" href="mailto:barcampchair@nebraska.aiga.org">barcampchair@nebraska.aiga.org</a>
        </p>
      </div>
    </section>

    <footer class="section bg-blue tc pb5">
      <div class="container-ns">
        <nav class="tc">
          <ul class="list pa0 ma0 relative z-1" style="visibility: hidden">
            <li class="dib mh2"><a class="white no-underline" href="#">2012</a></li>
            <li class="dib mh2"><a class="white no-underline" href="#">2013</a></li>
            <li class="dib mh2"><a class="white no-underline" href="#">2014</a></li>
            <li class="dib mh2"><a class="white no-underline" href="#">2015</a></li>
            <li class="dib mh2"><a class="white no-underline" href="#">2016</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <div class="keyboard-height section bg-purple">
      <img class="progressive__img progressive--not-loaded center db relative w-100" data-progressive="images/footer.png" src="images/_prog-footer.gif" style="top: -29.5vw">
    </div>

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/jquery.scrollTo.min.js"></script>
    <script src="js/vendor/jquery.localScroll.min.js"></script>
    <script src="js/vendor/jquery.parallaxify.min.js"></script>
    <script src="js/vendor/progressively.min.js"></script>
    
    <script src="js/application.js"></script>
  </body>
</html>
