<header class="bg-theme-base1 dm-bg-theme-base9">
    <stellar-layout class="layer-children" padding="none" size="flush" style="--grid-gap: 0;">
        <p class="absolute top-2 right-2 z-5">
            <a href="/es/index.html" lang="es" title="Spanish">Español</a>
        </p>
        <copy-wrap align="center" class="ma0 pa0 order-0 relative z-2 h-100 invert" style="backdrop-filter: blur(10px) grayscale(100%) brightness(60%);mix-blend-mode: screen;">
            <img src="/assets/images/hero.png" class="mw7 w-100" alt="{{en.event.title}} {{en.event.venue.hosted}} {{en.event.venue.name}} {{en.event.date | date: "%B %e"}} {{en.event.time}}" />
        </copy-wrap>
        <stellar-video autoplay mute class="order-1 h-100 ma0 pa0" controls="false" loop overlay playsinline width="1920" height="1080" style="--object-fit: cover;">
            <source src="/assets/video/hero.mp4" />
        </stellar-video>
    </stellar-layout>
</header>