<stellar-layout class="bg-theme-base0 dm-bg-theme-base9" id="tracks" size="full">
    <stellar-layout padding="none" size="small">
        <copy-wrap align="center">
            <h2 class="fw7 mb0">{{en.event.tracks.title}}</h2>
            <p class="theme-base5 dm-theme-base2 mt0">{{en.event.tracks.leadin}}</p>
        </copy-wrap>
    </stellar-layout>
    <stellar-layout padding="none" size="full">
        <stellar-grid>
            {% for track in en.tracks %}
                <stellar-card class="bg-white {{ track[1].color }}" padding="none">
                    <header class="bg-theme-base7 flex items-center justify-center relative pa0 track--{{ track[0] }}">
                        <stellar-image bg="var(--theme-base7)" height="900" width="1600">
                            <source srcset="/assets/images/tracks/{{track[1].slug}}.jpg"/>
                        </stellar-image>
                        {% if track[1].includeName %}
                            <h6 class="white absolute z-1 bottom-1 left-1 fs7 fw9 tracked ma0 pa0 ttu">{{ track[1].name }}</h6>
                        {% endif %}
                    </header>
                    <section class="pa3 bg-white">
                        {% for sentence in track[1].content %}
                            <p class="f7 lh-copy mw-100 theme-base9 mt0 mb0">{{sentence}}</p>
                        {% endfor %}
                    </section>
                </stellar-card>
            {% endfor %}
        </stellar-grid>
    </stellar-layout>
</stellar-layout>