<stellar-layout align="top" class="bg-white dm-bg-black" id="venue" size="large" type="half">
    <stellar-grid class="self-center" style="--grid-gap: 0;">
        <copy-wrap class="br b--theme-base2 dm-b--theme-base8 pa3">
            <h6 class="theme-base5 dm-theme-base5 ttu fs7 fw7 tracked">{{en.event.venue.title}}</h6>
            <div class="flex items-center">
                <img class="mb0 db w2 h-auto mr2" src="/assets/images/pins/pin-event.png" width="40"/>
                <h3 class="black dm-white fw8">{{en.event.venue.name}}</h3>
            </div>
            <h6 class="theme-base7 dm-theme-base2 fs7 b">
                <address>
                    {{en.event.venue.address}}
                </address>
            </h6>

            <p class="theme-base5 dm-theme-base4">{{en.event.venue.description}}</p>
        </copy-wrap>
        <copy-wrap class="ma0 pa3">
            <h6 class="theme-base5 dm-theme-base5 ttu fs7 fw7 tracked">{{en.event.opening_party.title}}</h6>
            <div class="flex items-center">
                <img class="mb0 db w2 h-auto mr2" src="/assets/images/pins/pin-party.png" width="40"/>
                <h3 class="black dm-white fw8">{{en.event.opening_party.name}}</h3>
            </div>
            <h6 class="theme-base7 dm-theme-base2 fs7 b">
                <address>
                    {{en.event.opening_party.address}}
                </address>
            </h6>

            <p class="theme-base5 dm-theme-base4">{{en.event.opening_party.description}}</p>
        </copy-wrap>
    </stellar-grid>

    <div class="flex items-center justify-center bg-gold">
        <stellar-google-maps apikey="{{google.apikey}}" lat="{{en.event.venue.lat}}" lng="{{en.event.venue.lng}}" zoom="{{en.event.venue.zoom}}" block theme="dark-minimal" no-ui>
            <stellar-google-maps-marker lat="{{en.event.venue.lat}}" lng="{{en.event.venue.lng}}" marker-title="{{en.event.venue.name}}" icon="/assets/images/pins/pin-event.png" icon-width="37" icon-height="57.5">
                <h6 class="theme-base5 dm-theme-base5 ttu fs8 fw7 tracked">{{en.event.venue.title}}</h6>
                <h5 class="dm-theme-base9 ma0 pa0 b">{{en.event.venue.name}}</h5>
                <p class="dm-theme-base7 ma0">{{en.event.venue.address}}</p>
                <stellar-button block href="https://www.google.com/maps/dir/?api=1&destination={{en.event.venue.address}}" padding="tiny" size="tiny" tag="link" target="_blank">
                    {{en.event.venue.directions}}
                </stellar-button>
            </stellar-google-maps-marker>
            <stellar-google-maps-marker lat="{{en.event.opening_party.lat}}" lng="{{en.event.opening_party.lng}}" marker-title="{{en.event.opening_party.name}}" icon="/assets/images/pins/pin-party.png" icon-width="37" icon-height="57.5">
                <h6 class="theme-base5 dm-theme-base5 ttu fs8 fw7 tracked">{{en.event.opening_party.title}}</h6>
                <h5 class="dm-theme-base9 ma0 pa0 b">{{en.event.opening_party.name}}</h5>
                <p class="dm-theme-base7 ma0">{{en.event.opening_party.address}}</p>
                <stellar-button block href="https://www.google.com/maps/dir/?api=1&destination={{en.event.opening_party.address}}" padding="tiny" size="tiny" tag="link" target="_blank">
                    {{en.event.opening_party.directions}}
                </stellar-button>
            </stellar-google-maps-marker>
        </stellar-google-maps>
    </div>
</stellar-layout>