<div class="sponsor-wrap flex justify-center {{ spacing }}">
  {% if sponsor.data.logo == "svg" %}
    <svg class="sponsor sponsor--{{ level }} sponsor--{{ sponsor.fileSlug }}">
      <title>{{ sponsor.data.name }}</title>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/sprite.svg#sponsor-logos--{{ sponsor.fileSlug }}"></use>
    </svg>
  {% elsif sponsor.data.logo == "png" %}
    <img class="sponsor sponsor--{{ level }} sponsor--{{ sponsor.fileSlug }}" src="/assets/images/sponsor-logos/{{ sponsor.fileSlug }}.png" alt="{{ sponsor.data.name }}">
  {% else %}
    <h5 class="windsor f4 brown tc">{{ sponsor.data.name }}</h5>
  {% endif %}
</div>
